asn1crypto==0.24.0
astroid==2.8.6
certifi==2023.5.7
cffi==1.15.0
charset-normalizer==3.1.0
click==8.0.4
Flask==2.0.3
idna==3.4
isort==5.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.1.0
mccabe==0.6.1
platformdirs==2.5.1
pycparser==2.19
pylint==2.11.1
requests==2.31.0
six==1.12.0
toml==0.10.2
urllib3==2.0.3
uWSGI==2.0.21
Werkzeug==2.0.3
wrapt==1.13.3
