{% extends 'base_selenium_test.html' %}

{% block evaluation_script %}

    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;

        visual_indicator.innerText = `Current position: (lat:${crd.latitude}), (long:${crd.longitude}), (acc:${crd.accuracy})`;
        result_indicator.innerText = "SUCCESS";
    }

    function error(err) {
        result_indicator.innerText = "FAIL";
    }

    navigator.geolocation.getCurrentPosition(success, error, options);

{% endblock %}